.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  color: white;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #0e0218 0%,
    #1a0a26 35%,
    #2a133d 50%,
    #1a0a26 65%,
    #0e0218 100%
  );
  gap: 5rem;
  margin-top: 5rem;
}

.hero-text {
  max-width: 500px;
  text-align: left;
}

.hero-text h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-text .yellow {
  color: #fca311;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.hero-btn {
  margin-top: 2rem;
  background-color: #fca311;
  color: #0a0a23;
  border: none;
  padding: 0.75rem 3rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  transform: scaleX(1.05);
  transition: ease-in 0.3s;
}

.hero-image img {
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 996px) {
  .hero {
    text-align: center;
    padding: 0 1rem;
    margin-left: 0;
    margin-bottom: 0;
    /* padding-bottom: 0; */
  }

  .hero-text {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  .hero-text h1 {
    font-size: 4.5rem;
    text-align: center;
    padding: 0;
    margin: auto;
  }

  .hero-btn {
    padding: 0.75rem 2rem;
  }

  .hero-image {
    margin-top: 2rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 3rem 1rem 0;
    gap: 1rem;
    margin-top: 3.5rem;
  }

  .hero-text h1 {
    font-size: 3.2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-btn {
    width: 100%;
    padding: 0.85rem;
    font-size: 1.2rem;
  }

  .hero-image img {
    max-width: 100%;
    padding: 0 0.05rem;
  }
}
